      <div class="page-header text-center">
        <h1>
          <span class="fa fa-heart"></span> Social Pets - Profile Page
        </h1>

        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Menu
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="right: none; left: 43%;"  aria-labelledby="dropdownMenu1">
            <li>
              <a href="../profile/friends">My friends</a>
            </li>
            <li>
              <a href="/chat">Chat your pets</a>
            </li>
          </ul>
          <a href="/profile" class="btn btn-default">Your profile</a>
          <a href="/logout" class="btn btn-default">Logout</a>
        </div>
      </div>